html{
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background: url('./assets/bg_dark.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

body, html {
    margin: 0;
  }
.main-container{


    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

}

.weather-container{
    display: flex;
    justify-content: space-between;
    padding: 4rem;
}


.main-desc{
    font-size: 42px;
    font-weight: 600;
}

.main-temp-icon{
    width: 80px;
    height: 80px;
}

.main-temp{
    font-size: 36px;
    font-weight: 700;
}



/*** DETAIL SECTION ***/

.main-details-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.detail{
    display: flex;
    flex-direction: row;
}

.detail-icon{
    width: 70px;
    height: 70px;
}

.detail-info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.detail-name{
    font-size: 14px;
    margin-bottom: 10px;
}
.detail-value{
    font-size: 20px;
    font-weight: 700;
}

/*** MAIN-RIGHT ***/

.city{
    font-size: 30px;
    font-weight: 600;
}
.date, .time{
font-size: 24px;
}

/*** OPTIONS CONTAINER***/

.options-container{
    display: grid;
    gap: 20px;

}

.options-search-container
{
    display: flex;
    gap: 5px;
}

.search{
    height: 30px;
    width: 150px;
    border-radius: 7px;
    box-shadow: none;
    border: none;
}
.search::placeholder{
    font-size: 16px;

}

.input-error {
    position: relative;
    animation: shake .1s linear;
    animation-iteration-count: 3;
}

@keyframes shake {
    0% { left: -3px; }
    100% { right: -3px; }
}

.error-message{
    margin-top: -15px;
    font-weight: 600;
    display: none;
}

.units{
    width: 100px;
    height: 25px;
    border: 2px solid white;
    border-radius: 7px;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
    font-weight: 600;
}

#unitC{

    display: none;
}
#unitF{
    display: inline;
}
.theme{
    margin-top: 50px;
}

/*** FORECAST SWITCH CONTAINER ***/
.forecast-switch-container{
    display: flex;
    padding-left: 6rem;
    gap: 10px;
}
.forecast-switch{
    width: 65px;
    height: 25px;
    border: 2px solid white;
    border-radius: 7px;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
    font-weight: 600;
}
.forecast-switch-selected{
    background-color: white;
    color: black;

}


/*** daily ***/

.daily-container{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding-top: auto;
    padding-bottom: 4rem;
}
.daily-day{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
}
.daily-high-value{
    font-size: 28px;
    font-weight: 700;
}
.daily-low-value{
    font-size: 18px;
}

/*** HOURLY ***/

.hourly-container{
    display: none;
    text-align: center;
    justify-content: space-evenly;
    padding-top: auto;
    padding-bottom: 4rem;
}

.hourly-hour{
    font-weight: 600;
    font-size: 18px;
}

.hourly-temp{
    font-weight: 700;
    font-size: 24px;
}

.hourly-icon{}

.btn:hover{
    cursor: pointer;
    transform: scale(1.1);

}

.loading-screen{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / .4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    overflow: auto;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    text-align: center;
    line-height: 100vh;
    font-size: 42px;
    font-weight: 700;
}